﻿/**************************** TEW NEXT ********************************************/

/*** 
        COLORS 
    lists:
background-color: #e0e0e0
active item > background-color: #737272
active item > color: black
error > background-color: #3c763d

    menu:
acitve link > color: #5af35d

***/


.tew-body {
	margin-top: 60px;
}

@media (max-width: 979px) {
    .tew-body {
	    margin-top: 0px;
    }
} 

.responsive-menu {
	margin-left: 5px;
	margin-right: 5px;
}

.responsive-menu-button {
	margin-right: 20px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-dropdown-menu-item {
	font-size: 18px;
	color: #d1cdcd;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  font-size: 20px;
}

.active-menu-item {
	font-size: 20px;
	color: #39e82e !important;
}

.error-field {
    color: red;
    font-size: 14px;
}

.field-label {
    font-size: 16px;
}

.center-block {
    text-align: center;
}

.xs-visible {
    visibility: hidden;
}

.xs-hidden {
    visibility: visible;
}

@media (max-width: 768px) {
    .xs-visible {
	    visibility: visible;
    }

    .xs-hidden {
        visibility: hidden;
    }
}

.list-items {
    background-color: #e0e0e0;
    border-radius: 10px;
    font-size: 24px;

    /* No selection after double click */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
}

.list-item {
    width: 100%;
    border-radius: 10px;
    word-wrap: break-word;
}

.active-list-item {
    background-color: #737272;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.progress-bar {
    border-radius: 5px;
    min-width: 1%;
}

.page-title {
    font-style: italic;
    font-size: 22px;
}

.tests-test-word {
    font-size: 40px;
    font-weight: bold;
}

.tests-test-example {
    font-size: 20px;
}

.list-item-error {
    background-color: #3c763d;
    color: white;
}

.picker-test-message {
    font-size: 26px;
    margin-bottom: 30px;
}

.picker-test-block {
    margin-bottom: 30px;
}

.margin-20 {
    margin: 20px;
}

.field-validation-error {
    font-size: 16px;
    color: red;
}

.validation-summary-errors {
    font-size: 18px;
    color: red;
}

.tew-modal-title {
    font-size: 28px;
    font-weight: bold;
}

.tew-modal-body {
    font-size: 20px;
}

.tew-modal-button {
    min-width: 80px;
}

.irregular-verbs-rus {
    font: bold italic 130% serif;
}

.my-words-tr {
    font-size: 17px;
}

.loading-lock-overlay {
  margin: 0px; 
  padding: 0px; 
  position: fixed; 
  right: 0px; 
  top: 0px; 
  width: 100%; 
  height: 100%; 
  background-color: #bfbfbf; 
  z-index: 30001; 
  opacity: 0.7;
}

.loading-lock-message {
    position: absolute; 
    color: #191515; 
    top: 50%; 
    left: 45%;
    font-weight: bold;
    font-size: 28px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .loading-lock-message {
        font-size: 18px;
    }

    .loading-lock-message {
        left: 30%;
    }
}