<div>
    <div class="modal fade"  [attr.id]="modal_window_id">
        <div class="modal-dialog">
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" (click)="closeWindow()">
                        <i class="fa fa-close"></i>
                    </button>
                    <div class="modal-title tew-modal-title">{{config.HeaderText}}</div>
                </div>
                <div class="modal-body tew-modal-body">
                    <p>{{config.BodyText}}</p>
                </div>
                <div class="modal-footer">
                    <button *ngIf="config.IsApplyButton" class="btn btn-success tew-modal-button" 
                        type="button" data-dismiss="modal" (click)="applyWindow()">
                        {{config.ApplyButtonText}}
                    </button>
                    <button *ngIf="config.IsCancelButton" class="btn btn-danger tew-modal-button" 
                        type="button" data-dismiss="modal" (click)="cancelWindow()">
                        {{config.CancelButtonText}}
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>