 <h1>User stat</h1>
<div *ngIf="userStatModel != null">
    <ul>
        <li>User email: {{userStatModel.Email}}</li>
        <!--<li>User nickname: {{userStatModel.NickName}}</li>-->
        <li>Words level: {{userStatModel.WordsLevel}}</li>
        <!--<li>Activity level: {{userStatModel.ActivityLevel}}</li>-->
        <li>Last activity date: {{userStatModel.LastActivityDate}}</li>
    </ul>
</div>
<div>
    <button class="btn btn-danger" (click)="resetUserWords()">Reset words level</button>
</div>